body{
    margin:0;
    overflow: hidden;
}
.illustration-author{
    font-family: Jomhuria;
    color: black;
    text-decoration: none;

}

.main-text{
    font-family: Jomhuria;
    font-size:5rem;
    letter-spacing: 0.08rem;
    margin-bottom: 0;
    margin-top:0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:6rem;
}



#submit-button {
    display: flex;
    padding: 0rem 1rem;
    width: 12.5625rem;
    height: 6rem;
    background: #F2F2F2;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-family: Jomhuria;
    font-size: 4.2rem;
    border-radius: 3.125rem;
    background: #7949FF;
    color: #FFF;
    cursor: pointer;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative; 
    z-index: 2;
    border:none;
    margin-top:0;
  }
.button-a-tag{
    text-decoration: none;
    color:#F2F2F2;
}
.grey-circle{
    width: 150px;
    height: 150px; 
    background-color: #EBEBEB;
    margin-right: 20px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    left:3rem;
    top: 10rem;
}
.grey-circle-2{
    width: 100px;
    height: 100px; 
    background-color: #EBEBEB;
    margin-right: 20px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    top: 14rem;
    right: 5rem;
}
.grey-circle-3{
    width: 500px;
    height: 500px; 
    background-color: #EBEBEB;
    margin-right: 20px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    bottom: -25vh;
    right: -15vw;
    z-index: -99;
}
@media(max-width:1440px){
main{
    margin-top:8rem;
}
.main-text{
    margin-top: 3rem;
    margin-bottom: 2rem;

}

}
@media(max-width:1024px){
    .main-text{
        font-family: Jomhuria;
        font-size:5rem;
        letter-spacing: 0.08rem;
        margin-bottom: 0;
        margin-top:0;
    }
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:6rem;
    }

    .grey-circle-2{
        top:6rem;
    }
}

@media(max-width:768px){
    .object-container{
        display: flex;
        justify-content: center;
    }

    object{
        width: 20rem;
        height: 20rem;
    }
    .main-text{
        text-align: center;
        font-size: 3rem;
    }

    .grey-circle-2{
        top:6rem;
    }
    .grey-circle-3{
        visibility: hidden;
    }

}

@media (max-width: 425px) {
    .grey-circle{
        display: none;
    }
}

