body{
    margin:0;
    margin-top:80px;
    width:100vw;
    overflow-x: hidden;
}


nav{
    background-color: #F2F2F2;
    color:white;
    height: 80px;
    font-size: 1.5rem;
    width:100%;
    position:fixed;
    left:0;

    top:0;
}

.website-name{
    color: #7949FF;
    font-family: Lato;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    gap:2em;
    list-style-type: none;
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main{
    width:100vw;
    background-color: aquamarine;
    
}

main > .elements {
    background-color: beige;
    width: calc((100vw/3)*2);
    display:flex;
    flex-wrap: wrap;
    gap:2em;
    justify-content: center;

}

main > .sidebar{
    background-color: blueviolet;
    width: calc(100vw/3);
    align-self: flex-start;
}

.elements > .container > img{
    width:250px;
    height:250px;
    object-fit: cover;
}
.flex-row-center-center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

