body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    padding-top: 6rem;


}
  .main-content {
    flex-grow: 1; 
}

.welcome-text{
    width: 24.5625rem;
    color: #000;
    text-align: center;
    font-family: "Jomhuria", sans-serif;
    letter-spacing: 0.07rem;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13.7rem;
}
.welcome-sub-text{
    color: #000;
    text-align: center;
    font-family: "Jomhuria", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-left: 7.5rem;
    width: 38rem;
}

.messages{
    display:flex;
    justify-content: center;
    font-family: Jomhuria,'sans-serif';
    font-size:2rem;
    margin-left:1rem;
    margin-bottom:1.6rem;
    height:1px;
}

.click-here{
    color: #7949FF;
    font-family: "Jomhuria", sans-serif;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.phone-container {
    width: 19rem;
    height: 31rem;
    margin-right: 19rem;
    margin-top:3rem;
    border-radius: 2.225rem 2.8125rem 2.625rem 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
    border:8px solid #000;
    background-color: #fff;
  }

  .phone-container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: 4rem;
    width: 0;
    height: 0;
    border-top: 31rem solid transparent; 
    border-bottom: 31rem solid transparent; 
    border-right: 35rem solid #7949FF; 
    z-index:-99 ; 

  }
  
.phone-nav-bar{
    width: 19rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 2.625rem 2.8125rem 0rem 0rem;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.phone-top-element{
    width: 6.9375rem;
    height: 1.1875rem;
    background-color: #000;
    border-radius: 2.625rem; 

}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.35);
    font-family: "Jomhuria", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    display: block;
}
  
input {
    padding: 10px;
    border: 2px solid #7949FF; 
    border-radius: 8px; 
    font-size: 1rem;
    outline: none; 
    display: block;
}

.submit-button-container::before {
    content: '';
    position: absolute;
    top: 37%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 19.15rem;
    height: 9rem;
    border-radius: 6.25rem 6.25rem 2.8125rem 2.8125rem;
    background-color: #F2F2F2; 
    z-index: 1; 

  }

  .submit-button-container {
    position: relative;
    margin-top: 4rem;
    margin-left: 2rem;
    align-self: center;
    align-self: center;
    z-index: 10;
  }

  #submit-button {
    display: flex;
    padding: 0rem 1rem;
    width: 9.5625rem;
    height: 5rem;
    background: #F2F2F2;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: var(--interactive-primary-enabled, #7949FF);
    box-shadow: 0px 4px 8px 0px rgba(101, 92, 128, 0.30);
    color: var(--text-light, #FFF);
    font-family: "Jomhuria", sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    position: relative; 
    z-index: 2;
  }


.grey-circle{
    width: 500px;
    height: 500px; 
    background-color: #EBEBEB;
    margin-right: 20px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    bottom: -35vh;
    left: -16vw;
}


.info-container{
    display: none;
}

@media(max-width:1024px){
    .messages{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
    main{
        margin-top: 1rem;
    }
    .welcome-text{
        font-size: 4rem;
    }
    .phone-container{
        width: 40rem;
        height: 34rem;
        margin-right: 5rem;
    }
    .welcome-text{
        width: 27rem;
    }

}

@media (max-width: 768px) {  

    body{
        padding-top:1rem;
        overflow-x: hidden;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0rem;
      }
    .website-name{
        font-size: 2rem;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem; 
      }
    .logo{
        top:0.1rem;
        left:1.5rem;
    }
    .main-content {
      display: none;
    }
    nav{
        height: 3rem;
    }

    .phone-container{
        height: 27rem;
        width:17rem;
        margin:0;
        margin-top:5rem;

    }
    .phone-nav-bar{
        width:17rem;
    }
    .messages{
        margin-bottom: 1rem;
        margin-top:0;
    }

    .submit-button-container{
        margin-top:2rem;
    }
    .submit-button-container::before{
        height:5rem;
        width: 16.5rem;
        top:44%;
    }
    #submit-button{
        margin-top: -0.2rem;
        height: 4rem;
    }

    label{
        font-size: 2.8rem;

    }
    .info-container{
        display: block;
        padding: 0rem 1rem;
        padding-top: 0.2rem;
        margin-top:0.5rem;
        width: 20rem;
        height: 5.8rem;
        background: #F2F2F2;
        gap: 0.25rem;
        flex-shrink: 0;
        border-radius: 3.125rem;
        background: var(--interactive-primary-enabled, #F2F2F2);
        box-shadow: 0px 4px 8px 0px rgba(101, 92, 128, 0.30);
        color: var(--text-light, #FFF);
        font-family: "Jomhuria", sans-serif;
        font-size: 3.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        position: relative; 
    }
    .welcome-sub-text{
        margin:0;
        margin-top:0.5rem;
        width: 20rem;
    }
    .phone-container::after{
        display: none;
    }
}
  
@media (max-width: 425px) {
    .main-content {
        display: none;
      }


      .info-container{
        width: 14rem;
        margin-top: 0.2rem;
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .welcome-sub-text{
        font-size: 2rem;
        width:10rem;
        margin-right: 0;
        margin-bottom: 1rem;
      }
      .click-here{
        font-size: 2rem;
      }
}
