html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.nav-icons{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: auto;
    margin-top:1.1rem
}

#home-icon{
    margin-top:0.60rem;
    width:3.6rem;
}
#plus-icon{
    margin-top:0.85rem;
    width:3.6rem;
    border-radius: 5px; 
    border-bottom:0.6rem solid #7949FF;
    padding-bottom: .7rem;
}
#message-icon{
    margin-top:0.85rem;
    width:3.6rem;
}
#profile-icon{
    margin-top:0.7rem;
    width:3.6rem;
}